@page 
@model Ecobadge_Website.Pages.DirectoryModel
@{
    ViewData["Title"] = "Directory";
}

@section Styles {
    <link href="@Url.Content("~/css/directory.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
} 

<div class="container-fluid wrapper">

    <div class="row">

        <div class="col-6 offset-3 text-container">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="plastic">
                            <label class="form-check-label" for="plastic">
                            Less than 20% single use plastic
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="recycled">
                        <label class="form-check-label" for="recycled">
                        More than 80% recycled waste
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="carbon">
                        <label class="form-check-label" for="carbon">
                        Carbon neutral
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="renewable">
                        <label class="form-check-label" for="renewable">
                        Uses renewable energy
                        </label>
                    </div>
                </div>

                <div class="col-5">
                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Location
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" id="locations">

                        </div>
                    </div>

                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Cuisine
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" id="cuisines">
                        </div>
                    </div>

                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Eco Badge Tier
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Bronze</a>
                            <a class="dropdown-item" href="#">Silver</a>
                            <a class="dropdown-item" href="#">Gold</a>
                            <a class="dropdown-item" href="#">Platinum</a>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="display: block; width: 100%; height:100%;" >
                        <i data-feather="refresh-cw"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="table-wrapper">

            <table class="table table-hover" style="margin-bottom:0" id="businesses">

                <thead>
                    <tr>
                        <th>Company</th>
                        <th>County</th>
                        <th>Street</th>
                        <th>Postcode</th>
                        <th>Telephone</th>
                        <th>Tier</th>
                        <th>Cuisines</th>
                        <th>Vegan friendly</th>
                        <th>Doesn't use single use plastic</th>
                        <th>Foodwaste collection scheme</th>
                        <th>Local produce</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>

            </table>
        </div>
    </div>
</div>


<script>
    const element = document.getElementById("parent");
    element.classList.remove("container");
    element.classList.add("container-fluid");

    const locations = [];
    const cuisines = {};

    fetchCompanies().then(fetchCuisines).then(fetchCompanyCuisines).then(function() {
        locationFilters();
        cuisineFilters();
    })

    function locationFilters(){

        locations.sort();

        for(i=0; i<locations.length; i++){
            const value = locations[i];
            $("#locations").append(`<a class="dropdown-item" href="#">${value}</a>`);
        }
    }

    function cuisineFilters(){

        const cuisineList  = [];

        for (var key in cuisines){
            const value = cuisines[key];
            cuisineList.push(value);
        }

        // Easier to sort a list than a dictionary so export all cuisine names within the dict to cuisineList
        cuisineList.sort();

        // Print the alpabetical ordering of cuisines
        for(i=0; i<cuisineList.length; i++){
            var value = cuisineList[i];
            $("#cuisines").append(`<a class="dropdown-item" href="#">${value}</a>`);
        }
    }

    async function fetchCompanies() {

        const url = "https://localhost:44393/api/companies";
        const raw = await fetch(url);

        const data = await raw.json();

        data.forEach(({ companyId, companyName, county, address, postcode, tel, cuisine, ecobadgeTier, veganDishes, singleUsePlastic, foodWasteCollectionScheme, localProduce }) => {
            $("#businesses").find('tbody').append(`<tr id="${companyId}" class="js-file-line">
                <td>${companyName}</td>
                <td>${county}</td>
                <td>${address}</td>
                <td>${postcode}</td>
                <td>${tel}</td>
                <td>${ecobadgeTier}</td>
                <td style="text-align:center"></td>
                <td>${veganDishes}</td>
                <td>${singleUsePlastic}</td>
                <td>${foodWasteCollectionScheme}</td>
                <td>${localProduce}</td>
                </tr>`);

            if (!locations.includes(county)){
                locations.push(county);
            }
        });
    }

    async function fetchCuisines() {

        const url = "https://localhost:44393/api/cuisines";
        const raw = await fetch(url);

        const data = await raw.json();

        data.forEach(({cuisineId, cuisineName }) => {
            cuisines[cuisineId] = cuisineName;
        });
        console.table(cuisines);
    }

    async function fetchCompanyCuisines(){
        const url = "https://localhost:44393/api/companycuisines";
        const raw = await fetch(url);

        const data = await raw.json();

        data.forEach(({cuisineId, companyId }) => {

            const row = document.getElementById(companyId);
            const value = cuisines[cuisineId];
            const col = row.getElementsByTagName('td')[6];
            col.innerText += value + "\n";
        });

    }

</script>