@page
@model Ecobadge_Website.Pages.DirectoryModel
@{
    ViewData["Title"] = "Directory";
}

<div class="container">
    <h1>Search by...</h1>


    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Location
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Plymouth</a></li>
            <li><a href="#">Exeter</a></li>
            <li><a href="#">Bristol</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Cuisine
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Burgers</a></li>
            <li><a href="#">Chicken</a></li>
            <li><a href="#">Pizza</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Eco Badge Tier
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Platinum</a></li>
            <li><a href="#">Gold</a></li>
            <li><a href="#">Silver</a></li>
            <li><a href="#">Bronze</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <form action="/action_page.php">
        <input type="checkbox" id="<20%plastic" name="<20%plastic" value="1">
        <label for="<20%plastic"><20% single use plastic</label><br>
        <input type="checkbox" id=">80%recycled" name=">80%recycled" value="1">
        <label for=">80%recycled"> >80% recycled waste</label><br>
        <input type="checkbox" id="carbonneutral" name="carbonneutral" value="1">
        <label for="carbonneutral"> Carbon neutral</label><br>
        <input type="checkbox" id="renewableenergy" name="renewableenergy" value="1">
        <label for="renewableenergy"> Uses renewable energy</label><br><br>
    </form>
</div>
<div class="container">
    <table class="js-csv-data csv-data js-file-line-container" id="businesses">
        <thead>
            <tr id="LC1" class="js-file-line">
                <td id="L1" class="blob-num js-line-number" data-line-number="1"></td>
                <th>Company Name</th>
                <th>Company Address </th>
                <th>Company Postcode</th>
                <th>Company Phone Number</th>
                <th>Company Email </th>
                <th>Company Webiste </th>
                <th>Picture (Upload)</th>
                <th>Cuisine/s</th>
                <th>ECO Badge Score </th>
                <th>ECO Badge Tiir</th>
                <th>Supplies Vegan Dishes </th>
                <th>Does Not Use Single Use Plastic</th>
                <th>Uses a Foodwaste Collection Scheme</th>
                <th>Only Uses Local Produce (100 miles) </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<script>

    fetchBookings();

    async function fetchBookings() {

        const url = "https://localhost:44393/api/business";
        const raw = await fetch(url);

        const data = await raw.json();

        data.forEach(({ name, address, postcode, tel, email, website, picture, cuisine, tier, vegan, plastic, foodwaste, local }) => {
            $("#businesses").find('tbody').append(`<tr id="LC13" class="js-file-line">
                <td>${name}</td>
                <td>${address}</td>
                <td>${postcode}</td>
                <td>${tel}</td>
                <td>${email}</td>
                <td>${website}</td>
                <td>${picture}</td>
                <td>${cuisine}</td>
                <td>${vegan}</td>
                <td>${plastic}</td>
                <td>${foodwaste}</td>
                <td>${local}</td>
                </tr>`);
    });
}

</script>