@page 
@model Ecobadge_Website.Pages.DirectoryModel
@{
    ViewData["Title"] = "Directory";
}

@section Styles {
    <link href="@Url.Content("~/css/directory.css")" rel="stylesheet" type="text/css" />
}

<div class="container wrapper">

    <div class="row">

        <div class="col-12 text-container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="plastic">
                            <label class="form-check-label" for="plastic">
                            Less than 20% single use plastic
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="recycled">
                        <label class="form-check-label" for="recycled">
                        More than 80% recycled waste
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="carbon">
                        <label class="form-check-label" for="carbon">
                        Carbon neutral
                        </label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" value="" id="renewable">
                        <label class="form-check-label" for="renewable">
                        Uses renewable energy
                        </label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Plymouth</a></li>
                            <li><a href="#">Exeter</a></li>
                            <li><a href="#">Bristol</a></li>
                        </ul>
                    </div>

                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Cuisine
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Burgers</a></li>
                            <li><a href="#">Chicken</a></li>
                            <li><a href="#">Pizza</a></li>
                        </ul>
                    </div>

                    <div class="dropdown py-1">
                        <button class="btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Eco Badge Tier
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Platinum</a></li>
                            <li><a href="#">Gold</a></li>
                            <li><a href="#">Silver</a></li>
                            <li><a href="#">Bronze</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="table-wrapper">

            <table class="table table-hover" style="margin-bottom:0" id="businesses">

                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Tel</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Picture</th>
                        <th>Cuisine</th>
                        <th>Score</th>
                        <th>Tier</th>
                        <th>Vegan friendly</th>
                        <th>Doesn't use single use plastic</th>
                        <th>Foodwaste collection scheme</th>
                        <th>Local produce</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>

            </table>
        </div>
    </div>
</div>


<script>

    fetchBookings();

    async function fetchBookings() {

        const url = "https://localhost:44393/api/business";
        const raw = await fetch(url);

        const data = await raw.json();

        data.forEach(({ name, address, postcode, tel, email, website, picture, cuisine, tier, vegan, plastic, foodwaste, local }) => {
            $("#businesses").find('tbody').append(`<tr id="LC13" class="js-file-line">
                <td>${name}</td>
                <td>${address}</td>
                <td>${postcode}</td>
                <td>${tel}</td>
                <td>${email}</td>
                <td>${website}</td>
                <td>${picture}</td>
                <td>${cuisine}</td>
                <td>${vegan}</td>
                <td>${plastic}</td>
                <td>${foodwaste}</td>
                <td>${local}</td>
                </tr>`);
    });
}

</script>